{% extends "base.html" %}
{% block head %}
    <title>Monday</title>
{% endblock %}

{% block content %}
    <h2>Monday's Exercises</h2>
    <table>
        <tr>
            <th>Quantity</th>
            <th>Exercise</th>
        </tr>
        <tr>
            <td>x12</td>
            <td>Pushups</td>
        </tr>
        <tr>
            <td>x12</td>
            <td>Pushups</td>
        </tr>
        <tr>
            <td>x12</td>
            <td>Pushups</td>
        </tr>
        <tr>
            <td>x12</td>
            <td>Pushups</td>
        </tr>
        <tr>
            <td>x12</td>
            <td>Pushups</td>
        </tr>
        <tr>
            <td>x12</td>
            <td>Pushups</td>
        </tr>
    </table>
{% endblock %}