{% extends "base.html" %}
{% block head %}
    <title>Sunday</title>
{% endblock %}

{% block content %}
<h2>Sunday's Exercises</h2>
<h3>Chole Ting</h3>
<a  class ="utube" href="https://www.youtube.com/watch?v=2pLT-olgUJs&list=PLUZFjkq5Io-66FLmprAti9GG5Y3JV0H8y&index=1">Link to Youtube</a>
<!--try making inline video-->
<h3>Next Workout</h3>
<a  class ="utube" href="https://www.youtube.com/watch?v=EWFNeJDvtGE&list=PLUZFjkq5Io-66FLmprAti9GG5Y3JV0H8y&index=5&t=315s">Link to Youtube</a>

{% endblock %}