{% extends "base.html" %}
{% block head %}
    <title>Tuesday</title>
{% endblock %}

{% block content %}
<h2>Tuesday's Exercises</h2>


<table>
    <tr>
        <th>Quantity</th>
        <th>Exercise</th>
    </tr>
    <tr>
        <td>30 Sec</td>
        <td>Side Hops</td>
    </tr>
    <tr>
        <td>x12</td>
        <td>Squats</td>
    </tr>
    <tr>
        <td>x12</td>
        <td>Squats</td>
    </tr>
    <tr>
        <td>x12</td>
        <td>Side Lying Leg Lift Left</td>
    </tr>
    <tr>
        <td>x12</td>
        <td>Side Lying Leg Lift Right</td>
    </tr>
    <tr>
        <td>x12</td>
        <td>Side Lying Leg Lift Left</td>
    </tr>
    <tr>
        <td>x12</td>
        <td>Side Lying Leg Lift Right</td>
    </tr>
    <tr>
        <td>x14</td>
        <td>Backward Lunge</td>
    </tr>
    <tr>
        <td>x14</td>
        <td>Backward Lunge</td>
    </tr>
    <tr>
        <td>x16</td>
        <td>Donkey Kick Left</td>
    </tr>
    <tr>
        <td>x16</td>
        <td>Donkey Kick Right</td>
    </tr>
    <tr>
        <td>x16</td>
        <td>Donkey Kick Left</td>
    </tr>
    <tr>
        <td>x16</td>
        <td>Donkey Kick Right</td>
    </tr>
    <tr>
        <td>30 Sec</td>
        <td>Quad Stretch w/Wall Left</td>
    </tr>
    <tr>
        <td>30 Sec</td>
        <td>Quad Stretch w/Wall Right</td>
    </tr>
    <tr>
        <td>x12</td>
        <td>Wall Calf Raises</td>
    </tr>
    <tr>
        <td>x12</td>
        <td>Wall Calf Raises</td>
    </tr>
    <tr>
        <td>x12</td>
        <td>Wall Calf Raises</td>
    </tr>
    <tr>
        <td>x12</td>
        <td>Wall Calf Raises</td>
    </tr>
    <tr>
        <td>30 Sec</td>
        <td>Calf Stretch Left</td>
    </tr>
    <tr>
        <td>30 Sec</td>
        <td>Calf Stretch Right</td>
    </tr>
</table>
{% endblock %}