{% extends "base.html" %}
{% block head %}
    <title>Wednesday</title>
{% endblock %}

{% block content %}
<h2>Wednesday's Exercises</h2>
<table>
    <tr>
        <th>Quantity</th>
        <th>Exercise</th>
    </tr>
    <tr>
        <td>x12</td>
        <td>Pushups</td>
    </tr>
    <tr>
        <td>x12</td>
        <td>Pushups</td>
    </tr>
    <tr>
        <td>x12</td>
        <td>Pushups</td>
    </tr>
    <tr>
        <td>x12</td>
        <td>Pushups</td>
    </tr>
    <tr>
        <td>x12</td>
        <td>Pushups</td>
    </tr>
    <tr>
        <td>x12</td>
        <td>Pushups</td>
    </tr>
</table>
{% endblock %}